<div class="home-index">
</div>
<div class="home-index-title">
     <h1>@cafe</h1>
     <h2>人生を変えるキッカケはカフェから</h2>
</div>

<div class="home-index-content-1">
    <div class="content-1-sub">
        <h1>「@cafe」とは</h1>
        <ul>
            <li>cafeという仕事や作業に集中するのに適した空間で</li>
            <li>共通点や似た価値観を持った人々がcafeで繋がり</li>
            <li>cafeを通じて新たなキッカケを掴むことを目的とした</li>
            <li>ライフスタイルの変化を楽しむサービスです。</li>
        </ul>
    </div>
</div>

<div class="home-index-content-2">
    <h2>@cafe の使い方</h2>
    <div class="content-2-1 clearfix">
        <div class="content-2-1-text">
            <span>まずは自分好みのcafeをセレクト！</span>
            <p>「cafe一覧」から、場所・Wi-Fi環境等から自分に合ったcafeを選びます。
            @cafeユーザーさんが掲載した様々なcafeを眺めているだけでも楽しいです。
            普段利用している自分のお気に入りcafeを新規作成から掲載することもできます。<br>
            ※滞在理由が仕事や作業をすることを前提にしているため、電源・Wi-Fiの有無の記載が必須になっています。</p>
        </div>
        <div class="content-2-1-image">
            <img src="/assets/cafe.jpg">
        </div>
        <i class="fas fa-mouse-pointer"></i>
    </div>
    <div class="content-2-2 clearfix">
        <div class="content-2-2-text">
            <span>選んだcafeの詳細を確認する！</span>
            <p>@cafeに掲載されているcafeはユーザーさんが実際に訪れたcafeのみを掲載しています。
            そのため「店内の落ち着き度」や「混雑度」など仕事や作業に適した環境かどうかを細かく記載してくれているので、
            お店に行く前からある程度店内の雰囲気を感じ取れるようになっています。</p>
        </div>
        <div class="content-2-2-image">
            <img src="/assets/cafe-detail.jpg">
        </div>
    </div>
    <div class="content-2-3 clearfix">
        <div class="content-2-3-text">
            <span>選んだcafeの利用詳細を記入する！</span>
            <p>利用するcafeが決まったら、「日にち」「時間帯」「利用目的（コメント）」を記入します。
            ここで記入した内容はスケジュールに追加後、@cafeユーザーさん全員が閲覧することができます。</p>
        </div>
        <div class="content-2-3-image">
            <img src="/assets/select.jpg">
        </div>
    </div>
    <div class="content-2-4 clearfix">
        <div class="content-2-4-text">
            <span>「スケジュール一覧」からユーザーさんのスケジュールを確認！</span>
            <p>自分以外のユーザーさんのスケジュールを確認することができます。
            ここで同じ目的や似た価値観のある方を探してみましょう。</p>
        </div>
        <div class="content-2-4-image">
            <img src="/assets/schedule.jpg">
        </div>
    </div>
    <div class="content-2-5 clearfix">
        <div class="content-2-5-text">
            <span>気になったユーザーさんにメッセージを送る！</span>
            <p>各スケジュールに記載されている名前からプロフィールに飛ぶことができます。
            プロフィールから気になった方へメッセージを送信することができるので、cafeでお会いする約束や情報交換などを自由に行ってください。</p>
        </div>
        <div class="content-2-5-image">
            <img src="/assets/profile.jpg">
        </div>
    </div>
</div>

<div class="home-index-btn-area">
    <div class="btn-area-login">
        <p>既に会員登録済みの方はこちら</p>
        <%= link_to "ログイン", "/users/sign_in" %>
    </div>
    <div class="btn-area-sign-up">
        <p>新規登録ご希望の方はこちら</p>
        <%= link_to "新規登録", "/users/sign_up" %>
    </div>
    <div class="btn-area-contact">
        <p>お問い合わせご希望の方はこちら</p>
        <%= link_to "お問い合わせ", "/inquiries/new" %>
    </div>
</div>