<div class="home-index">
</div>
<div class="home-index-title">
     <h1>@cafe</h1>
     <h2>人生を変えるキッカケはカフェから</h2>
</div>
<div class="home-index-btn">
    <%= link_to "新規登録", "/users/sign_up" %>
</div>